<!--
  -- OccupyWallSt.org Share Buttons
  -- @author Justine Tunney <justine@occupywallst.org>
  -- @see "https://dev.twitter.com/docs/tweet-button"
  -->
<div class="share-buttons">
  <div class="g-plusone"
       data-annotation="inline"
       data-href="{{ site.canonical }}{{ page.url }}"
       data-width="300"></div>
  <a class="share-button share-twitter"
     href="https://twitter.com/share"
     data-url="{{ site.canonical }}{{ page.url }}"
     data-text="{{ page.title }}"
     data-via="{{ site.twitter }}"
     data-lang="{{ page.lang }}"
     data-hashtags="{{ page.hashtags }}"
     target="_blank">
    Tweet
    <span class="share-count">Ø</span>
  </a>
  <a class="share-button share-facebook"
     href="https://www.facebook.com/sharer/sharer.php?u={{ site.canonical | cgi_escape }}{{ page.url | cgi_escape }}"
     target="_blank">
    Share
    <span class="share-count">Ø</span>
  </a>
  <script>
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
</div>
<div style="clear:both"></div>
<script>occu.share();</script>
