<!--
  -- OccupyWallSt.org Sidebar
  -- @author Justine Tunney <justine@occupywallst.org>
  -->

<section class="contact" lang="en">
  <dl>
  <dt>Helpline
  <dd><a href="tel:+12128459853">(212) 845-9853</a>
  <dt>Contact
  <dd><a href="mailto:support@occupywallst.org">support@occupywallst.org</a>
  <dt>Press
  <dd><a href="http://goo.gl/InsqGy">Schedule an Interview</a>
  </dl>
</section>

<div class="revolution center" lang="en">
  <p>
    the only solution is<br>
    <big>
      <strong>
        <span class="red">World</span>Revolution
      </strong>
    </big>
</div>

<section class="mission justify" lang="en">
  <p>
    <strong>Occupy Wall Street</strong> is a leaderless resistance movement with
    people of many <a href="http://pococcupywallstreet.tumblr.com/">colors</a>,
    genders and political persuasions. The one thing we all have in common is that
    <a href="http://goo.gl/rSO1Ge">We Are The 99%</a> that will no longer
    tolerate the greed and corruption of the 1%. We are using the
    revolutionary <a href="http://en.wikipedia.org/wiki/Arab_Spring">Arab
    Spring</a> tactic to achieve our ends and encourage the use of nonviolence
    to maximize the safety of all participants.
</section>

<section class="poster center" lang="en">
  <p>
    <a href="http://goo.gl/rSO1Ge">
      <img alt="Occupy Ballerina Poster"
           src="/assets/img/donate-poster.jpg"
           width="151" height="230"></a>
  <p>
    <strong>The best way to support Occupy right now</strong> is to
    <a href="http://goo.gl/rSO1Ge">buy prints</a> of this fabulous poster for
    yourself and your friends this holiday season.
</section>
