/**
 * OccupyWallSt.org HTML Article Style
 *
 * <p>These sizes are calculated with precision. Please
 * do not change them.
 *
 * @see "http://lamb.cc/typograph/"
 */

article {
  width: 40.5em;
  min-height: 57.2756em;
}

code, kbd, pre, samp {
  font-size: 0.9167em;
}

p,
li {
  text-align: justify;
  word-wrap: break-word;
}

article h1,
article h2,
article h3 {
  font-weight: lighter;
}
