/**
 * OccupyWallSt.org Share Buttons
 *
 * @author Justine Tunney <justine@occupywallst.org>
 */

.share-buttons a.share-button {
  background-color: #efefef;
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border-radius: 0.3em;
  border: 1px solid #ddd;
  color: #333;
  display: table-cell;
  font: 12px Arial, sans-serif;
  height: 24px;
  padding: 3px 7px 7px 26px;
  text-decoration: none;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.05);
  vertical-align: middle;
  white-space: nowrap;
}

.share-buttons a.share-button:hover {
  background-color: #f6f6f6;
  border-color: #e3e3e3;
  color: #393939;
}

.share-facebook {
  background: url(/assets/img/facebook32.png);
}

.share-twitter {
  background: url(/assets/img/twitter32.png);
}

.share-googleplus {
  background: url(/assets/img/googleplus32.png);
}

.share-count {
  display: inline-block;
  padding-left: 0.5em;
  margin-left: 0.3em;
  text-align: right;
  border-left: 1px solid #ddd;
}
